  <!-- Page Footer-->
  {% load static %}


  <footer class="footer text-white" style="background: #0e0e0e">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h6 class="text-white">Bootstrap Blog</h6>
          <p class="fw-light mb-1">53 Broadway, Broklyn, NY 11249</p>
          <p class="fw-light mb-1">Phone: (020) 123 456 789</p>
          <p class="fw-light mb-4">Email: <a class="text-decoration-underline text-reset" href="mailto:info@company.com">Info@Company.com</a></p>
          <ul class="list-unstyled">
            <li class="list-inline-item"><a class="text-reset me-2" href="!#"><i class="fab fa-facebook-f"></i></a></li>
            <li class="list-inline-item"><a class="text-reset me-2" href="!#"><i class="fab fa-twitter"></i></a></li>
            <li class="list-inline-item"><a class="text-reset me-2" href="!#"><i class="fab fa-instagram"></i></a></li>
            <li class="list-inline-item"><a class="text-reset me-2" href="!#"><i class="fab fa-behance"></i></a></li>
            <li class="list-inline-item"><a class="text-reset me-2" href="!#"><i class="fab fa-pinterest"></i></a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="d-flex">
            <ul class="list-unstyled text-sm me-4">
              <li class="mb-2"><a class="text-reset fw-light" href="!#">My Account</a></li>
              <li class="mb-2"><a class="text-reset fw-light" href="!#">Add Listing</a></li>
              <li class="mb-2"><a class="text-reset fw-light" href="!#">Pricing</a></li>
              <li class="mb-2"><a class="text-reset fw-light" href="!#">Privacy &amp; Policy</a></li>
            </ul>
            <ul class="list-unstyled text-sm">
              <li class="mb-2"><a class="text-reset fw-light" href="!#">Our Partners</a></li>
              <li class="mb-2"><a class="text-reset fw-light" href="!#">FAQ</a></li>
              <li class="mb-2"><a class="text-reset fw-light" href="!#">How It Works</a></li>
              <li class="mb-2"><a class="text-reset fw-light" href="!#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4"><a class="d-block mb-2" href="post.html">
            <div class="d-flex align-items-center"><img class="img-fluid p-1 border border-gray-600 flex-shrink-0" src="{% static 'img/small-thumbnail-1.jpg'%}" alt="..." width="50">
              <div class="ms-2 text-muted">
                <p class="fw-bold mb-0">Hotels for all budgets</p><span>October 26, 2016</span>
              </div>
            </div></a><a class="d-block mb-2" href="post.html">
            <div class="d-flex align-items-center"><img class="img-fluid p-1 border border-gray-600 flex-shrink-0" src="{% static 'img/small-thumbnail-2.jpg'%}" alt="..." width="50">
              <div class="ms-2 text-muted">
                <p class="fw-bold mb-0">Great street atrs in London</p><span>October 26, 2016</span>
              </div>
            </div></a><a class="d-block" href="post.html">
            <div class="d-flex align-items-center"><img class="img-fluid p-1 border border-gray-600 flex-shrink-0" src="{% static 'img/small-thumbnail-3.jpg'%}" alt="..." width="50">
              <div class="ms-2 text-muted">
                <p class="fw-bold mb-0">Best coffee shops in Sydney</p><span>October 26, 2016</span>
              </div>
            </div></a>
        </div>
      </div>
    </div>
  </footer>
  <div class="copyrights text-white py-4" style="background: #090909">
    <div class="container">
      <div class="row text-center gy-2">
        <div class="col-md-6 text-md-start">
          <p class="mb-0 fw-light text-sm">&copy; 2022. All rights reserved. Your great site.</p>
        </div>
        <div class="col-md-6 text-md-end">
          <p class="mb-0 text-sm">Template By <a class="text-reset fw-light" href="https://bootstrapious.com/p/bootstrap-blog">Bootstrapious</a>
            <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->
          </p>
        </div>
      </div>
    </div>
  </div>
